<table>
  <% book_comments.each do |comment| %>
    <tr>
      <td><%= attachment_image_tag(comment.user, :profile_image, size: "100x100", fallback: "no-image-icon.jpg") %></td>
      <td><%= comment.comment %></td>
      <% if comment.user == current_user %>
      <td><%= link_to "destroy", book_book_comment_path(comment.book, comment), method: :delete, class: "btn btn-danger", remote: true%></td>
      <% end %>
    </tr>
  <% end %>
</table>